.form {
  @include desktop {
    width: 448px;
  }

  width: 370px;
  margin: 0;
}
.text-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}
.form-grup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  margin-bottom: 10px;
  position: relative;
}

.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.form-input {
  width: 100%;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.ikon-form-input {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-input:focus + & {
    fill: #2196f3;
  }
}
.form-grup-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
  position: relative;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: transparent;
  &:focus {
    border: 1px solid #2196f3;
  }
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.check {
  margin-top: 18px;
  margin-bottom: 32px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: transparent;
    fill: #ffffff;
    border: 0.2px solid #ffffff;
  }
  .checkbox:focus + & {
    border-color: var(--accent-color);
  }
}

.check-text {
  @include mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: #757575;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-link {
  text-decoration: underline;
  color: var(--accent-color);
}
.btn-form {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: var(--super-waite);
  background: var(--accent-color);

  border-radius: 4px;
  border: transparent;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
