.footer {
  background-color: var(--color-bng-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  gap: 60px;

  @include tablets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 60px;
  }
  @include desktop {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 93px;
  }
}

.footer-info {
  @include desktop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--super-waite);

  display: inline-block;
  margin-bottom: 20px;
}

.footer__contact {
  @include desktop {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
}
.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--super-waite);

  display: inline-block;
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-contact);

  display: inline-block;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
// .networks {
//   margin-left: 70px;
// }
.networks__title {
  @include desktop {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--super-waite);
    text-align: left;
  }
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--super-waite);
  text-align: center;
}

.networks__list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.networks__logo {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--footer-logo-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--accent-color);
  }
}

.networks__ikon {
  fill: var(--super-waite);
}
.footer-feedback {
  width: 100%;
  @include tablets {
    width: 450px;
  }
  @include desktop {
    width: 570px;
  }
}
.footer-text-form {
  @include desktop {
    text-align: left;
  }
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  text-align: center;
}

.footer-form {
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 12px;
    width: 570px;
    // margin-left: 93px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footer-laibel {
  width: 100%;
}

.footer-input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn-form {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  gap: 10px;
  padding: 10px 28px;

  min-width: 200px;

  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
