.header {
  background-color: var(--super-waite);
  border-bottom: 1px solid #ececec;
}
.header__page {
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--super-blask);
}
.header__logo__color {
  color: var(--accent-color);
}

.header__logo,
.header__logo__color {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding: 16px 0;
  @include mobile {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    padding: 16px 0;
  }
  @include tablets {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
  @include desktop {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.header__navigation__list .header__navigation__site.current {
  color: var(--accent-color);
}
.header__navigation {
  @include tablets {
    margin-left: 87px;
  }
  @include desktop {
    margin-left: 93px;
  }
}
.header__navigation__list {
  display: none;

  @include tablets {
    display: flex;

    gap: 50px;
  }
  @include desktop {
    display: flex;

    gap: 50px;
  }
}

.header__navigation__site {
  @include desktop {
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  display: flex;
  flex-direction: column;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
@include tablets {
  .underline::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    padding: 0;

    background: var(--accent-color);
    border-radius: 2px;
  }
}

.conect {
  display: none;

  @include tablets {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @include desktop {
    display: flex;
    gap: 50px;
    margin-left: auto;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.conect__cont {
  @include tablets {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    line-height: 1.16;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include desktop {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  color: var(--text-color);
  font-weight: 500;
  transition: colort 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.conect__icon {
  fill: currentColor;
}
.size-icon-envelop {
  @include tablets {
    width: 14px;
    height: 10px;
  }
  @include desktop {
    width: 16px;
    height: 12px;
  }
}
.size-icon-tel {
  @include tablets {
    width: 10px;
    height: 14px;
  }
  @include desktop {
    width: 10px;
    height: 16px;
  }
}

.btn-open-menu {
  margin-left: auto;
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
@include tablets {
  .mobile-menu {
    display: none;
  }
  .btn-open-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  background-color: var(--super-waite);
  width: 100%;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  z-index: 1;
  > .mobile-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: 100%;
  }
}
.mobile-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.btn-close-menu {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #2196f3;
  }
}

.mobile-list .mbile-link.current {
  color: var(--accent-color);
}

.mobile-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

.mbile-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// :not(:last-child)

.mobile-cont {
  margin-bottom: 64px;
}

.mobile-item-cont:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.mobile-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
.mobile-network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--accent-color);
}
.mob-underline::after {
  content: '';
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
