.hero {
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  background-color: var(--color-hero-bng);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--super-waite);

  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: transparent;

  color: var(--super-waite);
  background-color: var(--accent-color);
  @include desktop {
    padding: 10px 32px;
    min-width: 216px;
  }
  display: inline-block;
  padding: 10px 24px;
  min-width: 200px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--super-waite);
    background-color: var(--accent-btn);
  }
}
