.section-team {
  background-color: var(--bng-section-team);
  text-align: center;
}

.team-title {
  @include desktop {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  margin-bottom: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-card {
  @include tablets {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }

  background-color: var(--super-waite);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.text {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-soc-item {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--super-waite);
  border-radius: 50%;
  color: #afb1b8;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--super-waite);
  }
}

.social-networks {
  fill: currentColor;
}
