:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --super-blask: #000000;
  --super-waite: #ffffff;
  --accent-btn: #188ce8;
  --color-hero-bng: #c4c4c4;
  --bng-section-team: #f5f4fa;
  --color-contact: rgba(255, 255, 255, 0.6);
  --feature-bagraund: #f5f5fa;
  --border-clients: #afb1b8;
  --footer-logo-color: rgba(255, 255, 255, 0.1);
  --color-bng-footer: #2f303a;
  --hero-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
